html
	head
		link( href="home.css" rel="stylesheet" )
		link( rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400" )
		link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		script( src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous" )
		script( src="home.js" )
	body
		div.overlay
			div.close.ion-close-round#close-trigger
			div.info-modal
				div.game-helpers.info
					div.title Game Helpers
					div.information Organic ennui ugh, microdosing pug heirloom street art dreamcatcher. Distillery mixtape kitsch, letterpress fanny pack wayfarers put a bird on it organic four dollar toast. Cold-pressed tattooed taxidermy four loko, waistcoat blog bushwick ramps everyday carry echo park +1 fixie selfies aesthetic. Chillwave typewriter everyday carry, street art pug etsy shabby chic flexitarian chambray paleo aesthetic sriracha locavore twee schlitz. Organic four dollar toast ramps, godard ugh wayfarers hashtag normcore yuccie celiac venmo. Ugh brooklyn meggings +1, selfies pork belly bespoke master cleanse trust fund.

				div.instructions.info
					div.title Instructions
					div.information Organic ennui ugh, microdosing pug heirloom street art dreamcatcher. Distillery mixtape kitsch, letterpress fanny pack wayfarers put a bird on it organic four dollar toast. Cold-pressed tattooed taxidermy four loko, waistcoat blog bushwick ramps everyday carry echo park +1 fixie selfies aesthetic. Chillwave typewriter everyday carry, street art pug etsy shabby chic flexitarian chambray paleo aesthetic sriracha locavore twee schlitz. Organic four dollar toast ramps, godard ugh wayfarers hashtag normcore yuccie celiac venmo. Ugh brooklyn meggings +1, selfies pork belly bespoke master cleanse trust fund.
				div.tips.info
					div.title Tips
					div.information Organic ennui ugh, microdosing pug heirloom street art dreamcatcher. Distillery mixtape kitsch, letterpress fanny pack wayfarers put a bird on it organic four dollar toast. Cold-pressed tattooed taxidermy four loko, waistcoat blog bushwick ramps everyday carry echo park +1 fixie selfies aesthetic. Chillwave typewriter everyday carry, street art pug etsy shabby chic flexitarian chambray paleo aesthetic sriracha locavore twee schlitz. Organic four dollar toast ramps, godard ugh wayfarers hashtag normcore yuccie celiac venmo. Ugh brooklyn meggings +1, selfies pork belly bespoke master cleanse trust fund.

		div.navbar
			div.brand Placeholder
			div.links-right
				a.nav-link(href="") About
				a.nav-link(href="") Contact
				a.nav-link(href="") Log In
				a.nav-link(href="") Sign Up

		div.hero
			div.text-con
				div.cta Make game night more fun
				div.seperator
				div.more-info 5th Game Night provides you with unlimited access to board game helpers, instructions, and expert tips for just $10
				a.learn-more Learn More

		div.about-panel
			div.reasons
				div.reason.one
					div.ion-ios-clock.icon
					div.title Game Helpers
					div.more Online apps that can reduce game time and make the more complex parts of the game less complicated.
					div.learn-more#ghtrigger Learn More
				div.reason.two
					div.ion-android-document.icon
					div.title Instructions
					div.more Instructions reduced from 10 pages to 1 page. Short and sweet, you know what to do within 15 minutes.
					div.learn-more#itrigger Learn More
				div.reason.three
					div.ion-android-checkmark-circle.icon
					div.title Expert Tips
					div.more Tips that help you with strategy, game play, and more. Share them, or keep them to yourself and win.
					div.learn-more#ettrigger Learn More

		div.works-panel
			div.works-text Watch a short video to see how it works.
			div.iframe-con
				iframe( width="560" height="315" src="https://www.youtube.com/embed/Dkm8Hteeh6M" frameborder="0" allowfullscreen )



